{% if site.email_address %}
<li>
	<a href="mailto:{{ site.email_address }}" title="{{ site.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.behance %}
<li>
	<a href="https://www.behance.net/{{ site.behance }}" title="{{ site.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.bitbucket }}" title="{{ site.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.dribbble }}" title="{{ site.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.facebook }}" title="{{ site.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.flickr }}" title="{{ site.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.google_plus }}" title="{{ site.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.instagram %}
<li>
	<a href="http://instagram.com/{{ site.instagram }}" title="{{ site.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.linkedin %}
<li>
	<a href="{{ site.linkedin }}" title="{{ site.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.pinterest }}" title="{{ site.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.reddit }}" title="{{ site.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.soundcloud }}" title="{{ site.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.stack_exchange %}
<li>
	<a href="{{ site.stack_exchange }}" title="{{ site.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.steam }}" title="{{ site.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.tumblr %}
<li>
	<a href="https://{{ site.tumblr }}.tumblr.com/" title="{{ site.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.twitter %}
<li>
	<a href="https://twitter.com/{{ site.twitter }}" title="{{ site.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.wordpress %}
<li>
	<a href="https://{{ site.wordpress }}.wordpress.com/" title="{{ site.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.youtube }}" title="{{ site.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
