#post-nav {
  width:100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  float: left;

  a, .page-title {
    display: inline-block;
  }

  .page-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    width: 100%;
  }

  a {
    @extend .body-link;
    padding: 2em 3em;
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: center;
    width: 50%;
  }

  i {
    vertical-align: middle;
  }
}
