article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}

header {
  text-align: center;
  background-color: #0077b5;
  color: white !important;
  width: 100%;
  border-radius: 10px;
}
.footnotes {
  font-size: 0.9em;
}
.title {
  font-size: 2.5em;
  margin: 0;
}

header {
  h1 {
    margin: 0;
    width: 100%;
  }
  .meta {
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}
