.tag-title {
  margin-bottom: 0;
  a {
    color: $link-color;
  }
}
.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}
