// Typography
// @import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500);
@font-face {
  font-family: Avenir;
  src: local("../fonts/AvenirNextLTPro-Regular.otf");
}

$font-family: Avenir, sans-serif;
$font-size: 1.25em;
$body-font-weight: 300;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #513232;
$link-color: #E3322B;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #E3322B;
$header-desc-text-color: #FFF;
